body {
  background-color : #d9d9d9;
}

.container {
  background-color:#FFFFFF;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.computer{
  font-family: 'Amatic SC', cursive;
  font-size: xx-large;
}
p {
  font-family: 'Amatic SC', cursive;
  font-size: x-large;
}

.resultbox {

}

.numbers {
  font-size: medium;
}
.answer {
  font-size: xx-large;
  font-weight : bold;
}
